body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(196, 255, 220);
}

.board {
    height: 800px;
    width: 800px;
    background: lightblue;
    border: 2px solid black;
}