body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(36, 0, 0);
    color: white;
}

.board {
    height: 800px;
    width: 800px;
    background: #fff;
    border: 2px solid black;
}